In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/schools_complete.csv'

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [10]:
# Calculate the total number of students
student_count = school_data_complete.student_name.count()
student_count

39170

In [3]:
# Calculate the total budget
total_budget = school_data_complete.budget.sum()
total_budget

82932329558

In [11]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [12]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [22]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)]["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [40]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[school_data_complete.reading_score >= 70]["student_name"].count()
passing_reading_percentage = passing_reading_count / (student_count) * 100
passing_reading_percentage

85.80546336482001

In [39]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)]["student_name"].count()
overall_passing_rate = passing_math_reading_count / student_count * 100
overall_passing_rate

65.17232575950983

In [80]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],"Total Students":[student_count],"Total Budget" :[total_budget],"Average Math Score":[average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[passing_math_percentage],"% Passing Reading":[passing_reading_percentage], "Overall Passing":[65.17232575950983]})

                                 
                                 
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["Overall Passing"] = district_summary["Overall Passing"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.98,85.81,65.17

In [167]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [185]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"])
stucount = per_school_counts[["size"]].count()
stucount

                       size
school_name
Bailey High School     4976
Cabrera High School    1858
Figueroa High School   2949
Ford High School       2739
Griffin High School    1468
Hernandez High School  4635
Holden High School      427
Huang High School      2917
Johnson High School    4761
Pena High School        962
Rodriguez High School  3999
Shelton High School    1761
Thomas High School     1635
Wilson High School     2283
Wright High School     1800

In [110]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

C:\Users\Smooth\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:69: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return op(a, b)

ValueError: operands could not be broadcast together with shapes (15,) (2,)